
/* Styles for the logout button */
.header1 {
    display: flex;
    justify-content: space-between; /* This will move the h1 to the left and the button to the right */
    align-items: center; /* This will vertically center the elements */
    padding: 10px; /* Optional: Add padding if needed */
}

.logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
.delete-button{
    background-color: red;
    color: white;
    padding: 4px 30px;
    display: inline-block;
}

.header1 {
    background-color: #f8f9fa;
}
.header2 {
    background-color: #6987a4;
}
.nav-button {
    padding: 10px 20px; /* Adds padding to the buttons */
    border: none; /* Removes default border */
    background-color: #51adb0; /* Button background color */
    color: white; /* Button text color */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size for buttons */
}
#product-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.product-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    width: 100%;
}
.myPostClass{
    background-color: rgb(51, 148, 163);
}
.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px; /* Ширина картки продукту */
    height: 500x; /* Висота картки продукту */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Центрування елементів по горизонталі */
}
.nav-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}
/* налаштування відображення кнопок в меню користувача */
/* Приховати всі секції за замовчуванням */
.MyProfileClass, .MyProfileSettingsClass {
    display: none;
}
.nav-button.active {
    background-color: #3d8487; /* Darkened color when the button is active */
}

/* MyProfileClass */
.myProfyleMain{
    text-align: center;
}
.MainUserInfo{
    text-align: center;
}
.collapsible {
    width: 300px;
    margin: 20px auto;
  }
  
  .collapsible-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
  }
  
  .collapsible-content {
    height: 0;
    overflow: hidden;   
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .collapsible.open .collapsible-content {
    height: auto;
  }